/.github export-ignore
/.gitignore export-ignore
/.phpunit.cache export-ignore
/.idea export-ignore
/build export-ignore
/coverage export-ignore
/node_modules export-ignore
/vendor export-ignore
/testbench.yaml export-ignore
/phpunit.xml export-ignore
/phpstan.neon export-ignore
/CHANGELOG_OLD.md export-ignore
/PACKAGING_VERIFICATION_REPORT.md export-ignore
/SECURITY_VERIFICATION_REPORT.md export-ignore
/SCALING_VERIFICATION_REPORT.md export-ignore
/validation_performance_test.php export-ignore
/src/LaravelAiAssistantServiceProvider.php.backup export-ignore
/stubs export-ignore
/resources/views/components/ai export-ignore
/docs export-ignore
